@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
    --color-brand-1: rgb(229, 27, 21); /* #E51B15 */
    --color-brand-2: rgb(191, 22, 22); /* #BF1616 */
    --color-brand-3: rgb(150, 15, 15); /* #960F0F */
    --color-brand-4: rgb(82, 0, 10); /* #52000A */
}

@utility bg-primary {
    @apply bg-white dark:bg-zinc-900;
}

@utility bg-secondary {
    @apply bg-gray-100 dark:bg-zinc-950;
}

@utility border-primary {
    @apply border-gray-300 dark:border-zinc-700;
}

@utility text-secondary {
    @apply text-gray-500 dark:text-zinc-400;
}

/* icons */
@font-face {
    font-family: 'icons';
    font-weight: 400;

    src: url("lib/assets/fonts/icons/icons.woff2") format("woff2"),
        url("lib/assets/fonts/icons/icons.woff") format("woff"),
        url("lib/assets/fonts/icons/icons.ttf") format("truetype");
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  src: url("lib/assets/fonts/Inter/static/Inter_24pt-Medium.ttf");
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  src: url("lib/assets/fonts/Inter/static/Inter_24pt-Bold.ttf");
}

:root {
    font-size: 14px;
    @apply text-black dark:text-zinc-200 bg-primary;
}

body, html {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

input:focus {
    outline: 0;
}

.even>*:nth-child(odd) {
    @apply bg-gray-200;
}

.string-selector .virtual-list-viewport {
    overflow-x: hidden;
}

dialog[open] {
    display: flex;
    color: inherit;
}

.hide-number-input::-webkit-outer-spin-button,
.hide-number-input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.hide-number-input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}