@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

body, html {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}


.rotate-text:after {
    writing-mode: vertical-rl;
    text-orientation: sideways;
    transform: rotate(-180deg);
}