@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';


/* icons */
@font-face {
  font-family: 'Feather';
  font-weight: 500;
  src: url("lib/assets/fonts/Feather/feather.ttf");
}

/* latin */
@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  src: url("lib/assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf");
}

:root {
    @apply text-sm md:text-base;
    font-size: 14px;
}

body, html {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Inter', sans-serif;
}

input:focus {
    outline: 0;
}

.even>*:nth-child(odd) {
    @apply bg-gray-200;
}